// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper {
    img {
        max-height: 120px;
    }
}
